h1{
    text-align: center; 
    font-family:sans-serif; 
    color:rgb(10, 55, 107); 
    padding-top:25px; 
    padding-bottom:20px;
}
body{
    background-color: rgba(0, 0, 255, 0.27);
}
div{
    margin:15px;
    margin-bottom:20px;
    background:#ffffff;
    border-radius: 10px;
    font-family:sans-serif;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left:20px;
    line-height: 22px;
}
h2{
    color:rgb(23, 52, 102);
}   