h1{
    font-size: 150px;
    text-align: center;
    color: rgb(0, 0, 0);
}
h2{
    font-size: 80px;
    margin-bottom: 40px;
    margin-left: 280px;
}
body{
    background-image: linear-gradient(#1B4079,#5286d4,#c2daff, #CBDF90);
    background-attachment: fixed;
}
#titulo{

    padding-left: 15px;
    color: white;
    font-family: sans-serif;
}
.elflex{
    display: flex;
    justify-content: center;
}
.losforms{
    background-color: rgba(255, 255, 255, 0.50);
    margin-top: 40px;
    margin-right: 47px;
    margin-bottom: 40px;
    margin-left: 47px;
    padding-left: 25px;
    padding-right: 29px;
    border-width: 4px;
    border-color: black;
    border-style:solid;
    border-radius: 20px ;
    font-size: 60px;
}
#listado{
    font-size: 80px;
    background-color: rgb(255, 255, 255, 0.50);
    padding-left: 120px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 0px;
    min-height: 100px;
}
#logo{
    max-height: 300px;
    max-width: 300px;
}
#logodiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    font-family: sans-serif;
    margin-bottom: 0px;
    vertical-align: bottom ; 
}
#nombre{
    margin-bottom: 3%;
    font-size: 40px;
}
.rojo{
    color: red;
}
.negrita:hover{
    font-weight: bold;
    text-decoration: line-through;
    color: rgb(135, 36, 36);
}