/*Solo letras titulo*/
h1{
    font-size: 150px;
    text-align: center;
    color: white;  /* Fallback: assume this color ON TOP of image */
    background: url('Shrek.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Tareas*/
h2{
    font-size: 90px;
    margin-left: 280px;
    margin-bottom: 40px;
}
body{
    background-image: linear-gradient(#1B4079,#5286d4,#c2daff, #CBDF90);
    background-attachment: fixed;
}
/*Title box*/
#titulo{

    padding-left: 15px;
    color: white;
    font-family: sans-serif;
}
/*Alinea los dos forms*/
.elflex{
    display: flex;
    justify-content: center;
}
/**/
.losforms{
    background-color: rgb(204, 100, 100);
    margin: 40px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 25px;
    padding-right: 25   px;
    border-width: 1px;
    border-color: black;
    border-style:solid;
    border-radius: 9px ;
    font-size: 90px;
}
.losforms{
    font-size: 50px;
}
#listado{
    font-size: 80px;
    
    background-image: linear-gradient(#CBDF90,#c2daff,#335fa0);
    padding-left: 120px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 0px;
    min-height: 100px;
}

#logo{
    max-height: 300px;
    max-width: 300px;
}
#logodiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    
    font-family: sans-serif;
    margin-bottom: 0px;
    vertical-align: bottom ;
    
}
#nombre{
    margin-bottom: 3%;
    font-size: 40px;
}